/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #823fff;
  --ifm-color-primary-dark: #6d1fff;
  --ifm-color-primary-darker: #630fff;
  --ifm-color-primary-darkest: #4e00df;
  --ifm-color-primary-light: #975fff;
  --ifm-color-primary-lighter: #a16fff;
  --ifm-color-primary-lightest: #c09eff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #823fff;
  --ifm-color-primary-dark: #6d1fff;
  --ifm-color-primary-darker: #630fff;
  --ifm-color-primary-darkest: #4e00df;
  --ifm-color-primary-light: #975fff;
  --ifm-color-primary-lighter: #a16fff;
  --ifm-color-primary-lightest: #c09eff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* 当 html 标签有 data-theme='dark' 属性时（即深色模式下） */
[data-theme='dark'] .navbar__logo {
  /* 这里使用滤镜反转颜色，或者调节亮度 */
  /* 示例：将黑色 Logo 翻转为白色 */
  filter: invert(100%);
}